<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ben.software"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.WelcomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FunctionListActivity"
            android:label="@string/function_list_title"/>

        <activity android:name=".activity.OrderActivity"
            android:label="@string/order_title"/>

        <activity android:name=".activity.SystemPrefereneActivity"
            android:label="@string/system_option_title"/>

        <service android:name=".service.DownloadService"></service>

        <provider android:name=".db.OrderProvider"
            android:authorities="com.ben.software.db.OrderProvider" />

    </application>
</manifest>